<!DOCTYPE html>
<html>
{% extends 'base.html' %}

<head>
    {% block title %}
    <title>{{ card_name }}</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container">
        <h1>Adivina el costo de elixir</h1>
        <div class="card bg-secondary text-white">
            <div class="card-body text-center">
                <img src="{{ card_img_url }}" alt="{{ card_name }}" class="img-fluid" width="200rem">
                <h2>{{ card_name }}</h2>
                <form action="/respuesta" method="post">
                    <div class="form-group">
                        <input type="number" inputmode="numeric" class="form-control-sm mb-2"
                            name="respuesta" required placeholder="Costo de Elixir">
                    </div>
                    <input type="hidden" name="card_cost" value="{{ card_cost }}">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>